@import url('https://fonts.googleapis.com/css?family=Nosifer|Pacifico|Roboto+Condensed');

.page
{
    max-width: 985px;
    font-family: 'Roboto condensed';
    background-color: rgba(97, 106, 112, 0.568);
    margin: 80px auto 80px auto;
    color: rgb(240, 95, 0);
    overflow: hidden;
    padding: 5px;
    margin-bottom: -3px;
    border: rgb(6, 38, 51) solid;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.partenaires
{
    float: left;
    font-family: 'Pacifico';
    text-align: center;
    font-size: 25px;
    color: rgb(0, 132, 193)
}

.partenaires img
{
    float: left; 
    height: 170px;
    margin: 5px 5px;
    padding-left: 11px;
    filter: grayscale(100%);
}


.partenaires img:hover
{   
    filter: grayscale(0%); 
    transition-duration: 2s;
    transform: rotate(0.1turn);
}



header
{
    float: left;    
    width: 960px;   
}

header li:hover
{
    background: white;
}

header a:hover
{
    color: rgb(240, 95, 0);
}

header a,li
{
    float: left;
    display: inline-block; 
    width: 240px;    
    color: rgb(0, 132, 193);
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center; 
}

#PROJECTEUR img
{
    width: 100%;
    height: auto;
    margin-bottom: -89px; 
} 

.newsletter fieldset
{
    font-family: 'roboto condensed', sans-serif;
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    height: 180px;
}

.newsletter input
{
    width: 91%;
    height: 25px;
    margin-bottom: 5px;
    padding: 5px 10px;

}

.newsletter input[type=submit]
{
    width: 100%;
    height: 35px;
    border: 0;
    background: #fff;
    font-size: 15px;
    font-weight: Bold;
    cursor: pointer;
}

.contact h3
{
    color: rgb(6, 38, 51);
    padding-left: 20px;
    font-family: 'roboto condensed', sans-serif;
    font-weight: normal;
}

.contact address 
{
    color: rgb(6, 38, 51);
    padding-left: 20px;
    font-family: 'roboto condensed', sans-serif;
}

.contact address strong
{
    font-size: 20px;
}


.googlemap
{
    width: 270px;
    height: auto;
    float: left;
    margin-left: 45px;
    max-width: 100%;
    
     
}
 
.newsletter
{
    width: 270px;
    height: auto;
    float: left;
    margin-left: 50px;
}
.contact
{
    width: 270px;
    height: auto;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}

.contact fieldset
{
    font-family: 'roboto condensed', sans-serif;
    border-radius: 8px;
    border: 2px solid rgb(6, 38, 51) solid;
    color: rgb(6, 38, 51);
    height: 180px;
}

.contact a
{
    text-decoration: none;
    color: rgb(6, 38, 51);
}

body
{
    background-image: url('img/ws3.jpg'); 
    background-size: cover;
}

.topheader a:hover
{
    color: rgb(6, 38, 51);
}

.topheader a
{
    font-size: 18px;
    text-decoration: none;
}

.topheader
{
    float: left;
    background-image: linear-gradient(180deg,white, gray);
    width: 100%;
    border: rgba(0, 0, 0, 0.699) solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

footer
{
    background-color: rgba(97, 106, 112, 0);
    float: left;
    width: 100%;
    height: auto;
    margin-top: -47px;  
}

footer >.page
{
    background-color: rgba(97, 106, 112, 0.568);
    border-top: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
    margin-top: 50px;
}

.topheader p
{
    text-align: right;
}

header img
{
    padding-top: 5px;
}

/* -- quand je travaille, je précise soit la largeur soit la hauteur afin de garder les proportions de celle-ci. Si je n'ai pas le choix je peux utiliser la propriété objectfit en sachant qu'elle n'est pas prise en charge par internet exploreur et qu'il faudra polyfill --*/

body
{
    margin: 0px;
}

section
{
    float: left;
    width: 100%;
    height: auto;
}    
section aside
{
    width: 50%;
    height: auto;
    float: left;
}

section article
{
    width: 50%;
    height: auto;
    float: left;
    box-sizing: -50px;
}

section aside img
{
    margin-top: 30px;
    max-width: 100%;
    margin-left: 50px;
}
/* --- nav ul li:2nth :nth-child(3) ---*/
/* --- utilisez border sizing pour article / img --- */

