body
{
    background: url(../img/fond.png) no-repeat;
    background-color: cover;
    margin: 0px;
}

main
{
    /*-- Ma page fera 1300px de large --*/
    max-width: 1300px;
    width: 100%;
    /*-- Sa hauteur s'adaptera en fonction du contenu --*/
    height: auto;
    /*-- Elle sera centrée au milieu de la page --*/
    margin: 0 auto;
}

.mt-40
{
    margin-top: 40px;
}

main > p
{
    font-family: Arial;
    color:  #ffffff;
    font-size: 13px;
    text-align: center;
}

main > p span
{
    text-decoration: underline;
}

.topheader
{
    /*-- Dimensions et Positionnement --*/
    width: 100%;
    height: 50px;
    float: left;

    /*-- Décoration --*/
    background: -webkit-linear-gradient(-90deg, #ffffff 0%, #dddddd 100%);
    background: -moz-linear-gradient(-90deg, #ffffff 0%, #dddddd 100%);
    background: -o-linear-gradient(-90deg, #ffffff 0%, #dddddd 100%);
    background: -ms-linear-gradient(-90deg, #ffffff 0%, #dddddd 100%);
    background: linear-gradient(180deg, #ffffff 0%, #dddddd 100%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
    position: relative;
    z-index: 1;
}

.topheader > div
{
    width: 25%;
    height: 19px;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}

.topheader > div > p
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: black;
    text-transform: uppercase;
    float: left;    
    margin: 4px 5px 0 0;
}

.topheader > nav
{
    width: auto;
    height: auto;
    float: right;
    margin-right: 174px;
}

.topheader > nav ul
{
    margin: 0;
    padding: 0;
}

.topheader > nav ul li
{
    display: inline-block;
    margin: 0 10px;
    line-height: 48px;
}

.topheader > nav ul li a
{
    font-family: Roboto condensed;
    color:  #202020;
    font-size: 16px;/* Approximation causée par une substitution de police */
    text-decoration: none;
}
.topheader > nav ul li a:hover
{
    text-decoration: underline;
}

.topheader > nav ul li.current a
{
    color:  #3060a7;
    text-decoration: underline;
}

.topheader > nav li:nth-child(3) a
{
    color: #fe3224;
}

.topheader > div > a:nth-child(2)
{
    display: block;
    width: 28px;
    height: 19px;
    float: left;
    background: url(../img/drapeau.png) no-repeat;
    text-indent: -9000px;
    background-position: -71px 4px;
    transition: 0.1s ease-in-out;
    filter: grayscale(100%);
}

.topheader > div > a:nth-child(2):hover,
.topheader > div > a:last-child:hover
{
    background-position-y: 0px;
    filter: grayscale(0%)
}

.topheader > div > a:last-child
{
    display: block;
    width: 28px;
    height: 19px;
    float: left;
    background: url(../img/drapeau.png) no-repeat;
    text-indent: -9000px;
    background-position: -107px 4px;
    margin-left: 3px;
    filter: grayscale(100%);
}

section
{
    width: 100%;
    height: auto;
}

section .fond
{
    width: 100%;
    height: 650px;
    position: relative;
    float: left;
    overflow: hidden;
}

.fond nav
{
    width: 340px;
    height: auto;
    position: absolute;
    left: 175px;
    top: 0px;
    background: -webkit-linear-gradient(-90deg, #ffffff 0%, #bbbbbb 100%);
    background: -moz-linear-gradient(-90deg, #ffffff 0%, #bbbbbb 100%);
    background: -o-linear-gradient(-90deg, #ffffff 0%, #bbbbbb 100%);
    background: -ms-linear-gradient(-90deg, #ffffff 0%, #bbbbbb 100%);
    background: linear-gradient(180deg, #ffffff 0%, #bbbbbb 100%);
    border-left: 5px solid red;
    text-align: center; 
}

.fond nav a img
{
    margin: 20px 0;
}

.fond nav ul 
{
    margin: 0;
    padding: 0;
}

.fond nav ul li 
{
    list-style: none;
    width: 100%;
    height: 57px;
    padding-top: 15px; 
    background: -webkit-linear-gradient(-90deg, #fbfbfb 0%, #bbbbbb 100%);
    background: -moz-linear-gradient(-90deg, #fbfbfb 0%, #bbbbbb 100%);
    background: -o-linear-gradient(-90deg, #fbfbfb 0%, #bbbbbb 100%);
    background: -ms-linear-gradient(-90deg, #fbfbfb 0%, #bbbbbb 100%);
    background: linear-gradient(180deg, #fbfbfb 0%, #bbbbbb 100%);
}

.fond nav ul li a 
{
    font-family: 'Roboto condensed' , sans-serif;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.fond nav ul li a:hover
{
    text-decoration: underline;
}

.fond nav ul li span
{
    font-family: 'roboto condensed', sans-serif;
    font-size: 15px;
    color: #000;
    font-style: Italic;
    font-weight: 300;
}

.fond nav ul li:first-child a 
{
    color: #fe3626;
}

.fond nav ul li:nth-child(2) a
{
    color: #bc8242;
}

.fond nav ul li:nth-child(3) a
{
    color: #3860a7;
}

.fond nav ul li:last-child a
{
    color: #08a640;
}

section .fleur
{
    margin-top: -185px;
    text-align: center;
    margin-bottom: 200px;
    width: 100%;
}

.fleur img
{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%);
}

section .bandeau1
{
    background-color:  #fe3224;
    width: 1300px;
    height: 50px;
    margin-top: -4px;
    float: left;
}

section .bandeau2
{
    background: -webkit-radial-gradient(circle farthest-side at 50%, #ffffff 0%, #febeb9 100%);
    background: -moz-radial-gradient(circle farthest-side at 50%, #ffffff 0%, #febeb9 100%);
    background: -o-radial-gradient(circle farthest-side at 50%, #ffffff 0%, #febeb9 100%);
    background: -ms-radial-gradient(circle farthest-side at 50%, #ffffff 0%, #febeb9 100%);
    background: radial-gradient(circle farthest-side at 50%, #ffffff 0%, #febeb9 100%);
    width: 1300px;
    height: 121px;
    margin-top: -16px;
    float: left;
}

section .bandeau2 p
{
    text-align: center;
    padding-top: 10px;
    
}



section .composer p
{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: 'roboto condensed';
    margin-top: -134px;
    margin-left: 500px;
    background: -webkit-linear-gradient(-90deg, #fe8e86 0%, #fe3224 100%);
    background: -moz-linear-gradient(-90deg, #fe8e86 0%, #fe3224 100%);
    background: -o-linear-gradient(-90deg, #fe8e86 0%, #fe3224 100%);
    background: -ms-linear-gradient(-90deg, #fe8e86 0%, #fe3224 100%);
    background: linear-gradient(180deg, #fe8e86 0%, #fe3224 100%);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 346px;
    height: 37px;
    line-height: 37px; 

}

section .composer a
{
    text-decoration: none;
}

.composer
{
    position: relative;
    float: left;
}

.composer:hover .cursor
{
    visibility: visible;
    opacity: 1;
    bottom:-18px;
    transform: rotate(-15deg);
}

.composer a::before
{
    width: 147px;
    height: 36px;
    background: url('../img/fleche.png');
    position: absolute; 
    content: " ";
    top: 0px;
    left: 320px;
    float: left;
}

.composer a::after
{
    width: 147px;
    height: 36px;
    background: url('../img/fleche.png');
    transform: rotate(180deg);
    position: absolute; 
    content: " ";
    top: 0px;
    right: 280px;
}

.cursor
{
    top: 25px;
    right: 450px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 0.1s ease-in-out;
}

section span
{
    text-decoration: underline;
}

section span.red
{
    text-decoration: inherit;
    color:#fe372a;
}

